
$sidebar-width: 225px;
$wrapper-width: 800px;

/*============================================================================
  Content Area
 ==============================================================================*/

.content {
  padding: $spacing-unit $spacing-unit $spacing-unit ($spacing-unit + $sidebar-width);
  width: 100%;
}

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  @extend %clearfix;
}

/*============================================================================
  Sidebar
 ==============================================================================*/

.sidebar {
  background: $color-blue-5;
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
}

.sidebar--logo {
  font-size: $base-font-size * 2;
  font-weight: bold;
  text-align: center;
  padding: $spacing-unit;
  border-bottom: 1px solid $color-blue-4;

  a {
    color: $color-white;
  }
}

.sidebar--nav {
  padding: $spacing-unit/2 $spacing-unit;
  font-weight: bold;

  //First Level Links
  > ul {
    margin: 0;

    > li {
      margin-bottom: $spacing-unit / 2;
    }

    // Second Level Links
    ul {
      margin-left: $spacing-unit/2;
      font-weight: normal;
      font-size: 0.9em;

      li {
        margin-top: $spacing-unit/4;
        opacity: 0.75;

        &.active {
          font-weight: bold;
          opacity: 1;
        }
      }
    }
  }

  // Styles for both First and Second Level Links
  li {
    list-style: none;

    a {
      color: $color-white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
