<!DOCTYPE html>
<html>

  {% include head.html %}
  {% assign current_page = page %}
  <!-- Add sections in section array -->
  {% assign sections = "filters, objects, tags" | remove: " " | split: "," %}

  <body>
    <div class="sidebar">
      <h1 class="sidebar--logo"><a href="/">Liquid</a></h1>
      <nav class="sidebar--nav">

      {% for section in sections %}
        <ul>
          <li>
            <a href="/{{ section }}">{{ section | capitalize }}</a>
            {% if current_page.url contains section %}
              <ul>
                {% for page in site.pages %}
                  {% if page.url contains section %}
                    <li {% if page.url == current_page.url %}class="active"{% endif %}>
                      <a href="{{ page.url}}">{{ page.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        </ul>
        {% endfor %}

        <li><a href="https://github.com/Shopify/liquid">Source on GitHub</a></li>
      </nav>
    </div>
    <div class="content">
      <div class="wrapper">
          <h1>{{ current_page.title }}</h1>
          {{ content }}
      </div>
    </div>
  </body>

</html>
