<!DOCTYPE html>
<html>

  {% include head.html %}
  {% assign current_page = page %}

  <body>
    <div class="sidebar">
      <h1 class="sidebar--logo"><a href="/">Liquid</a></h1>
      <nav class="sidebar--nav">

        <ul>
          <li>
            <a href="/filters">Filters</a>
            {% if current_page.url contains "filters" %}
              <ul>
                {% for page in site.pages %}
                  {% if page.url contains "filters" %}
                    <li>
                      <a href="{{ page.url}}">{{ page.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        </ul>

        <ul>
          <li>
            <a href="/objects">Objects</a>
            {% if current_page.url contains "objects" %}
              <ul>
                {% for page in site.pages %}
                  {% if page.url contains "objects" %}
                    <li>
                      <a href="{{ page.url}}">{{ page.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        </ul>

        <ul>
          <li>
            <a href="/tags">Tags</a>
            {% if current_page.url contains "tags" %}
              <ul>
                {% for page in site.pages %}
                  {% if page.url contains "tags" %}
                    <li>
                      <a href="{{ page.url}}">{{ page.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        </ul>

        <li><a href="https://github.com/Shopify/liquid">Source on GitHub</a></li>
      </nav>
    </div>
    <div class="content">
      <div class="wrapper">
          <h1>{{ current_page.title }}</h1>
          {{ content }}
      </div>
    </div>
  </body>

</html>
